<h2>Stacked form</h2>
<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      placeholder="Enter title"
      formControlName="title"
    />
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <input
      type="text"
      class="form-control"
      id="description"
      placeholder="Enter description"
      formControlName="description"
    />
  </div>

  <div class="form-group">
    <label for="imageUrl">Image URL</label>
    <input
      type="text"
      class="form-control"
      id="imageUrl"
      placeholder="Enter imageUrl"
      formControlName="imageUrl"
    />
  </div>

  <button class="btn btn-primary" type="submit">Save</button> |
  <button class="btn">Cancel</button>
</form>
